:root {
    --purple:#8e44ad;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.4%;
}

.container .heading{
    margin:2rem 0;
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--purple);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
}

.video-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-container .video{
    height: 20rem;
    width: 35rem;
    margin: 1rem;
    box-shadow: hidden;
    overflow: hidden;
    
    position: relative;
    text-align: center;
}

.video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
    
}

.video-container .video h1{
    display: inline-block;
    
    color: white;
    
    opacity: 0.7;
    background: #5c5c5c;
    border-radius: 5px;
    padding: .5rem;
    
}




.video-container .video .active {
    position: fixed;
    top:50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.7);
    z-index: 1;
}

.video-container .video .active:hover{
    transition: none;
    transform: translate(-50%,-50%) scale(1); 
}

.toglleMenu1, 
.toglleMenu2,
.toglleMenu3 {
    font-size: 16px;
}

@media screen and (max-width: 1024px){
    h1{
        font-size: 20px;
    }
}


@media screen and (max-width: 425px){
    h1{
        font-size: 12px;
    }
}

@media screen and (max-width: 375px){
     h1{
         font-size: 15px;
     }
 }


 @media screen and (min-width: 769px){
    .topMenuLi{
        display: inline-block;
        height: 0px;
        line-height: 50px;
        font-size: 24px;
        margin: auto 20px;
    }
}

.video-container .video iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

